.logo{
  background: #00FF80;
  color: #fff;
  border-radius: 6px;
  font-family: 'Oleo Script', serif;
  font-weight: 400;
  padding: 0.25em 0.2em 0.25em 0.2em;
  font-size: 3.25em;
  letter-spacing: 0.05em;
  display: inline-block;
  vertical-align: middle;
}
